<main class="container">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading"><h4>Login</h4></div>
                <div class="panel-body">
                    <form action="/auth/api/login" method="POST">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" required="">
                        <label for="passw">Password</label>
                        <input type="password" name="email" class="form-control" required="">
                        <input type="submit" value="Login" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>