<main id="auth-login" class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-push-3">
            <div class="panel">
                <div class="panel-heading"><h4>Login</h4></div>
                <div class="panel-body">
                    <form action="api/login" method="POST">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" required="">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" required="">
                        <div class="login-options">
                            <input type="submit" value="Login" class="btn btn-primary">
                            <span class="register-option">Need an account? <a href="register" class="btn btn-default">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>