<div class="div-entry">
    <div class="row">
        <div class="col-sm-10">
            {{#unless @root.text_only}}
            <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{appid}}/{{img_icon_url}}.jpg">
            {{/unless}}
            {{name}}
        </div>
        <div class="col=sm-2">{{hours_forever}}</div>
    </div>
</div>