<main class="container">
    <h1>Works!</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            Info
        </div>
        <div class="col-xs-4 col-sm-2">
            Results1
        </div>
        <div class="col-xs-4 col-sm-2">
            Results2
        </div>
        <div class="col-xs-4 col-sm-2">
            Results3
        </div>
    </div>
</main>
{{>std_footer_scripts}}
<script>
    $(document).ready(function() {
        console.log('hello world');
    });
</script>