<main class="container">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h4>{{name}}</h4>
        </div>
        <div class="panel-body">
            Information here.
        </div>
    </section>
    <section class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#listing-content">
            <h4>Listing</h4>
        </div>
        <div id="listing-content" class="panel-body collapse in">
            {{#each entries}}
            <div class="div-entry">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        {{a}}: Info
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        Results1
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        Results2
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        Results3
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>