<main class="container">
    <form action="">
        <div class="input-group">
            <label class="input-group-addon" for="profile">Profile</label>
            <input type="text" name="profile" class="form-control">
        </div>
    </form>
</main>