<!DOCTYPE html>
<html>
    <head class="theme-default">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <title>{{page_title}}</title>
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/site.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="/">Game Tracker</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {{>navbar_link active=false link="/" text="Tracker" }}
                        {{>navbar_link active=false link="/steam" text="Steam"}}
                        {{>navbar_link active=false link="/osu" text="OSU!"}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {{#if logged_in }}<a>Logout</a>{{/if}}
                            {{#unless logged_in }}<a>Login</a>{{/unless}}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {{{body}}}
        <script src="/angular/main.js"></script>
        {{{_footer_scripts}}}
    </body>
</html>
