$color1: rgba(190, 233, 232, 1);
$color2: rgba(98, 182, 203, 1);
$mainBG: rgba(27, 73, 101, 1);
$inverseTextColor: rgba(202, 233, 255, 1);
$secondaryBG: rgba(95, 168, 211, 1);

.theme-default {
    body {
        background-color: $secondaryBG;
    }

    nav.navbar {
        background-color: $mainBG;
        a {
            color: $inverseTextColor;
        }
    }

    .panel {
        //temp: better than default
        border: none;

        // border-color: $mainBG;
    }
    .panel-heading {
        background-color: $mainBG;
        color: $inverseTextColor;
        border-radius: 0px;
    }

    footer {
        background-color: $mainBG;
        padding: 5px;
    }
}


.div-entry {
    padding: 5px;
}
.div-entry:not(:last-child) {
    border-bottom: 1px solid $mainBG;
}

#osu-profile {
    // .panel {
    //     background-color: $color1;
    // }

    .beatmap-info {
        display: inline-block;
    }

    .pp-entry {
        text-align: right;
    }

    .preview, .panel-heading {
        cursor: pointer;
    }

    .preview {
        position: relative;
        width: 80px;
        height: 60px;
        display: inline-block;
    }
    .preview-hover {
        position: absolute;
        top: 0;
        width: 80px;
        height: 60px;
        text-align: center;
    }

    .preview-hover .fa {
        display: none;
        font-size: 40px;
        line-height: 60px;
        color: #ccc;
        opacity: .90;

    }
    .preview-hover:hover .fa {
        display: inline-block;
    }
}
